@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>this NHL dataBase is to store National Hockey League Teams and Players </p>
<p>It's an MVC ASP.NET Web App that uses Entity Framework Code First WorkFlow with C#, SQL Server LocalDB, and Implements both of basic CRUD, and User Authentication.</p>
<p>Input validation and Styling are Underway and will be Released soon </p>