@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="back">
    <img src="~/fonts/NHLLogo.png" class="img-responsive" alt="NHLLogo">
    <h1>National Hockey League</h1>
    <p class="lead">Is a professional ice hockey league currently comprising 31 teams: 24 in the United States and 7 in Canada.
            Headquartered in New York City, the NHL is considered to be the premier professional ice hockey league in the world,
            and one of the major professional sports leagues in the United States and Canada. The Stanley Cup,
            the oldest professional sports trophy in North America, is awarded annually to the league playoff champion at the end of each season</p>
    <p><a href="https://www.nhl.com/" class="btn btn-primary btn-lg, button1">Learn more &raquo;</a></p>
</div>

