body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../fonts/NHLBackGroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
    font-weight:bolder;
        
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button1 {
    background-color: black;
}


#back {
    background-color: white;
}

.addteam {
    padding-top: 1em;
}

.nvbutton {    
    font-size: x-large;
   
}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.body-content{
    background-color: white
}